@import "config";

.login_head{
    height: 90px;
    .logo{
        float: left;
        margin: 20px 0 0 20px;
    }
}
section{
    height: 470px;
    padding-top: 30px;
    background: #6a3b9b;
    .container > img{
        float: left
    }
    .login-box{
        width: 380px;
        height: 435px;
        box-sizing: border-box;
        float: left;
        background: #FFF;
        margin-left: 30px;
        padding: 30px;
        font-size: 14px;
        h3 a{
            float: right;
            color: $maincolor;
            &:hover{
                text-decoration: underline;
            }
        }
        .tips{
            font-size: 14px;
            color: #F00;
            height: 38px;
            margin: 15px 0;
        }
        .b_input{
            display: block;
            box-sizing: border-box;
            height: 42px;
            width: 320px;
            border:$border1;
            padding: 10px 30px 10px 10px;
            margin-bottom: 10px;
        }
        #username,#password,#code{
            @extend .b_input;
        }
        #username{
            background: url(../img/icon_account.png) no-repeat 290px center;
        }
        #password{
            background: url(../img/icon_pass.png) no-repeat 290px center;
        }
        #code{
            float: left;
            width: 150px;
            margin: 0;
        }
        .code-show{
            float: left;
            margin: 0 10px;
            width: 100px;
            height: 40px;
            border:$border1;
            user-select:none;
            font:700 28px/40px "";
            text-align: center;
        }
        .item-box{
            line-height: 40px;
            margin-bottom: 10px;
            label + a{
                float: right;
            }
            label{
                position: relative;
                &:hover{
                    div{
                        display: block;
                    }
                }
                div{
                    position: absolute;
                    display: none;
                    top:20px;
                    width: 180px;
                    height:25px;
                    color: #F00;
                    line-height: 25px;
                    font-weight: 700;
                    text-align: center;
                    background: #FFF;
                    border:$border1;
                }
            }
        }
        .login-btn{
            cursor: pointer;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            background: $maincolor;
            color: #FFF;
            border-radius: 5px;
        }
        .otherlog{
            @extend .item-box;
            span{
                color: #9b9b9b;
            }
            img{
                display: inline-block;
                cursor: pointer;
            }
        }
    }
}