<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/snippets.css" type="text/css">
    <link rel="stylesheet" href="css/list.css" type="text/css">
    <script src="js/sea.js" type="text/javascript"></script>
    <script>seajs.use("list.js");</script>
</head>
<body>
<div class="header-a"></div>
<div class="header-b"></div>
<section class="container clear">
        <div class="resent_look">
            <h4>最近浏览<span>清空</span></h4>
            <ul>
                <li><a href="">
                <img src="img/product/iPhone7/1/nm.jpg">
                <p>Apple iPhone 7 (A1660) 32G 黑色 移动联通电信4G手机</p>
                <div class="price">
                    ￥4999.00
                </div>
                </a></li>
                <li><a href="">
                <img src="img/product/iPhone7/1/nm.jpg">
                <p>Apple iPhone 7 (A1660) 32G 黑色 移动联通电信4G手机</p>
                <div class="price">
                    ￥4999.00
                </div>
                </a></li>
                <li><a href="">
                <img src="img/product/iPhone7/1/nm.jpg">
                <p>Apple iPhone 7 (A1660) 32G 黑色 移动联通电信4G手机</p>
                <div class="price">
                    ￥4999.00
                </div>
                </a></li>
                <li><a href="">
                <img src="img/product/iPhone7/1/nm.jpg">
                <p>Apple iPhone 7 (A1660) 32G 黑色 移动联通电信4G手机</p>
                <div class="price">
                    ￥4999.00
                </div>
                </a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="main-title">
                <div class="mt-l">
                    <p class="active">综合排序</p>
                    <p>销量</p>
                    <p>价格</p>
                    <p>评论数</p>
                    <p>上架时间</p>
                </div>
            </div>
            <ul class="product_list clear">

                <script id="productTemp" type="text/html">
                    {{each list as val key}}
                        <li data-pid="{{key}}">
                            <div class="li-t">
                                {{each val['imgArr'] as val key}}{{if key<=0}}<img src="{{val}}">{{/if}}{{/each}}
                            </div>
                            <p>{{val["title"]}}</p>
                            <div class="price">
                                {{each val["edition"] as val key}}{{if key<=0}}￥{{val["price"]}}{{/if}}{{/each}}
                            </div>
                            <div class="li-b">
                                <div class="num-btn"><a href=""><i class="iconfont">&#xe6d4;</i></a></div>
                                <input type="text" maxlength="3" value="1">
                                <div class="num-btn"><a href=""><i class="iconfont">&#xe665;</i></a></div>
                                <div class="add_cart">加入购物车</div>
                            </div>
                        </li>
                    {{/each}}
                </script>
<!--                <li>
                    <div class="li-t">
                        <img src="img/product/iPhone7/1/nm.jpg">
                    </div>
                    <p>Apple iPhone 7 (A1660) 32G 黑色 移动联通电信4G手机</p>
                    <div class="price">
                        ￥4999.00
                    </div>
                    <div class="li-b">
                        <div class="num-btn"><a href=""><i class="iconfont">&#xe6d4;</i></a></div>
                        <input type="text" maxlength="3">
                        <div class="num-btn"><a href=""><i class="iconfont">&#xe665;</i></a></div>
                        <div class="add_cart">加入购物车</div>
                    </div>
                </li>-->
            </ul>
            <div class="pages_nav clear">
                <div class="a_btn next">下一页&gt;</div>
                <ul></ul>
                <div class="a_btn prev">&lt;上一页</div>
            </div>
        </div>
</section>
<div class="bottom-a"></div>
<div class="bottom-b"></div>
</body>
</html>